@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --plyr-color-main: #fbbf24;
        scrollbar-gutter: stable;
    }

    * {
        @apply outline-none scroll-smooth scroll-m-16;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        box-shadow: 0 0 0px 1000px #fff inset;
        -webkit-text-fill-color: #6b7280;
        transition: background-color 5000s ease-in-out 0s;
    }

    .dark input:-webkit-autofill,
    .dark input:-webkit-autofill:hover,
    .dark input:-webkit-autofill:focus,
    .dark input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset;
        box-shadow: 0 0 0px 1000px #1f2937 inset;
        -webkit-text-fill-color: #e5e7eb;
        transition: background-color 5000s ease-in-out 0s;
    }

    input[type="password"] {
        @apply tracking-widest;
    }

    input[type="password"]::placeholder {
        @apply tracking-normal;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    ::-webkit-scrollbar {
        @apply w-1.5;
    }
    ::-webkit-scrollbar-track {
        @apply bg-gray-200 dark:bg-gray-800;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-gray-300 dark:bg-gray-700;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-400 dark:bg-gray-600;
    }

    .with-custom-scroll::-webkit-scrollbar {
        @apply w-1;
    }

    .with-custom-scroll--horizontal::-webkit-scrollbar {
        @apply h-1 w-full;
    }

    .with-custom-scroll::-webkit-scrollbar-track {
        @apply bg-gray-100 dark:bg-gray-800;
    }

    .with-custom-scroll::-webkit-scrollbar-thumb {
        @apply bg-gray-200 dark:bg-gray-700 rounded-full;
    }

    .with-custom-scroll::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-300 dark:bg-gray-600;
    }

    .with-custom-scroll {
        scrollbar-gutter: stable both-edges;
    }

    .with-custom-scroll--padding {
        padding-left: 1rem;
    }

    .hidden-scroll::-webkit-scrollbar {
        @apply hidden;
    }

    .ball {
        @apply block size-1.5 bg-amber-400 rounded-sm;
    }

    .blog-swiper-pagination {
        @apply !static h-6;
    }

    .blog-swiper-pagination > .swiper-pagination-bullet {
        @apply size-2 bg-gray-400 dark:bg-gray-500 rounded-full transition-all duration-300;
    }

    .blog-swiper-pagination > .swiper-pagination-bullet-active {
        @apply w-6 bg-blue-500 dark:bg-blue-500;
    }

    .table {
        @apply w-full border-collapse border-spacing-0;
    }

    .table thead {
        @apply bg-white dark:bg-gray-850 border-b border-gray-200/75 dark:border-gray-700/75;
    }

    .table tbody {
        @apply bg-white dark:bg-gray-850 divide-y divide-gray-100 dark:divide-gray-800;
    }

    .table th {
        @apply text-gray-800 dark:text-gray-200 font-normal font-pelak-medium text-nowrap;
    }

    .table td {
        @apply text-gray-700 dark:text-gray-300 font-pelak-medium text-nowrap;
    }

    .table th,
    .table td {
        @apply px-8 py-6 text-start;
    }

    .table tbody tr {
        @apply transition-all duration-300 hover:bg-gray-100 dark:hover:bg-gray-800;
    }

    .table th:first-child {
        @apply sm:rounded-tr-xl;
    }

    .table th:last-child {
        @apply sm:rounded-tl-xl;
    }

    .table tr:last-child td:first-child {
        @apply sm:rounded-br-xl;
    }

    .table tr:last-child td:last-child {
        @apply sm:rounded-bl-xl;
    }
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .bg-backdrop {
        @apply bg-gray-500/30 dark:bg-gray-800/30;
    }

    .blue-light {
        @apply bg-blue-50 dark:bg-blue-500/10 text-blue-500;
    }

    .amber-light {
        @apply bg-[#fff7d9] dark:bg-amber-400/10 text-amber-400;
    }

    .gray-light {
        @apply bg-gray-100 dark:bg-gray-500/10 text-gray-600 dark:text-gray-200;
    }

    .red-light {
        @apply bg-red-50 dark:bg-red-500/10 text-red-400;
    }

    .teal-light {
        @apply bg-teal-50 dark:bg-teal-500/10 text-teal-500;
    }
}

.plyr {
    border-radius: 0.75rem;
    height: 100%;
}

.tiptap {
    @apply p-4 w-full min-h-40 bg-gray-50 dark:bg-gray-800 border border-gray-100 dark:border-gray-800 focus:border-gray-200 dark:focus:border-gray-700 rounded-xl transition-all;
}

.tiptap strong {
    @apply font-normal font-pelak-medium text-gray-800 dark:text-gray-200;
}

.tiptap em {
    @apply font-normal font-pelak-medium text-gray-800 dark:text-gray-200;
}

.tiptap a {
    @apply font-pelak-medium text-blue-500 dark:text-blue-400 underline cursor-pointer;
}

.tiptap h2 {
    @apply my-4 font-pelak-semibold text-2xl text-gray-800 dark:text-gray-200 leading-10;
}

.tiptap h3 {
    @apply my-4 font-pelak-semibold text-xl text-gray-800 dark:text-gray-200 leading-9;
}

.tiptap h4 {
    @apply my-4 font-pelak-semibold text-lg text-gray-800 dark:text-gray-200 leading-8;
}

.tiptap p {
    @apply text-gray-700 dark:text-gray-300 whitespace-pre-line leading-8;
}

.tiptap .special-paragraph {
    @apply relative my-2 h-max p-6 gray-light font-pelak-medium leading-8 rounded-xl;
}

.tiptap .special-paragraph::before {
    @apply content-[''] absolute right-0 top-0 bottom-0 h-4/5 w-1 m-auto bg-amber-400 rounded-full;
}

.tiptap ul {
    @apply my-2 space-y-2;
}

.tiptap ul li {
    @apply relative pr-3.5;
}

.tiptap ul li::before {
    @apply content-[''] absolute right-0 top-0 bottom-0 m-auto size-1.5 bg-amber-400 rounded-sm;
}

.tiptap ul li p {
    @apply font-pelak-medium text-lg text-gray-800 dark:text-gray-200;
}

.tiptap img {
    @apply aspect-video sm:aspect-[21/9] object-cover rounded-xl;
}

@media (max-width: 640px) {
    * {
        @apply !cursor-none;
    }

    .plyr__progress__container {
        position: absolute;
        bottom: 2.5rem;
        left: 10px;
        width: 80%;
    }

    .plyr__time {
        position: absolute;
        bottom: 2.5rem;
        right: 10px;
    }
}
