@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply outline-none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        box-shadow: 0 0 0px 1000px #fff inset;
        -webkit-text-fill-color: #6b7280;
        transition: background-color 5000s ease-in-out 0s;
    }

    .dark input:-webkit-autofill,
    .dark input:-webkit-autofill:hover,
    .dark input:-webkit-autofill:focus,
    .dark input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset;
        box-shadow: 0 0 0px 1000px #1f2937 inset;
        -webkit-text-fill-color: #e5e7eb;
        transition: background-color 5000s ease-in-out 0s;
    }

    input[type="password"] {
        @apply tracking-widest;
    }

    input[type="password"]::placeholder {
        @apply tracking-normal;
    }

    .with-custom-scroll::-webkit-scrollbar {
        @apply w-1;
    }

    .with-custom-scroll::-webkit-scrollbar-track {
        @apply bg-gray-100 dark:bg-gray-800;
    }

    .with-custom-scroll::-webkit-scrollbar-thumb {
        @apply bg-gray-200 dark:bg-gray-700 rounded-full;
    }
    .with-custom-scroll::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-300 dark:bg-gray-600
    }

    .with-custom-scroll {
        scrollbar-gutter: stable;
    }
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }
}
